.pagetitle {
    margin-left: 29px;
    font-size: 19px;
    color: red;
    font-weight: bold;
}

.mynav-right {    
    margin-right: 0px !important;
    border-radius: 0px !important;
    border-left: 1px solid #ccc !important;
}

.mynav {
    float:left !important;
    margin-right: 0px !important;
    border-radius: 0px !important;
    border-left: 1px solid #ccc !important;
}

.my-pagination {
    margin: 0px;
}

.panel-heading .btn-group{
  position: absolute;
  right: 5px;
  top:3px;
}

.panel-heading{
  position: relative;
}

.navbar a.btn {
    float: right;
    margin-right: 5px;    
    margin-top: 6px;
}

@media print {
	.btn {display: none;}
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px
}

.clientextra input {
    margin-left: 5%;
}

/* notification */
#mini-notification {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 55%;
    background: #fff;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #fff;
    z-index:9999;
    color: #3C3C3C;
    -moz-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
}

#mini-notification .inner {
    position: relative;
    width: 800px;
    margin:  0 auto;
    padding-right: 60px;
}

#mini-notification .close {
    position: absolute;
    color: #000;
    top: 10px;
    right: 0;
}

#mini-notification a.close:hover {
    text-decoration: underline;
}
