<ul class="pagination">
  <li ng-class="{disabled: noPrevious()}"><a ng-click="selectPrevious()" href>{{previousText || 'Previous'}}</a></li>
  <li ng-repeat="page in pages" ng-class="{active: isActive(page)}"><a ng-click="selectPage(page)" href>{{page}}</a></li>
  <li ng-class="{disabled: noNext()}"><a ng-click="selectNext()" href>{{nextText || 'Next'}}</a></li>
 </ul>
