
<div class="row">
	<div class='col-md-6'>

		<div class="panel panel-default" ng-controller="adminclientController">
			<div class="panel-heading">Client
				<div class="btn-group">
					<div class="input-group" style="width:350px;float:left;">
						<input class="form-control" ng-model="filterCriteria.client" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					<div class="input-group" style="width:212px">
						<select class='form-control' ng-model="cg" ng-options="i.name for i in clientgroups" ng-change='selectClientGroup(cg.id); filterResult();'>
				    		<option value="">-- Choose Client Group --</option>
				    	</select>
			    	</div>
				</div>
			</div>
			<div class="panel-body">					
				
				<table class="table">
					<thead>
						<tr>							
							<th>Code</th>
							<th>Name</th>						
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items" ng-click='selectClient(i);'>
							<td>{{i.code}}</td><td>{{i.name}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class="panel panel-default">
			<div class="panel-heading">Information For {{selectedClient.code}} - {{selectedClient.name}}				
				<div class="btn-group">
					<div class="input-group">
						<button class="btn btn-default" ng-click="new()">New</button>
					</div>
				</div>
			</div>
			<div class="panel-body">		
				<div class='row'>
					<div class='col-md-6'>
						<div class="input-group">
					  		<span class="input-group-addon">Name</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.name">
						</div>
						<br/>
						<div class="input-group">
					  		<span class="input-group-addon">Code</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.code">
						</div>
					</div>
					<div class='col-md-6'>
						<div class="input-group">
					  		<span class="input-group-addon">Area</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.area">
						</div>
						<br/>
						<div class="input-group">
					  		<span class="input-group-addon">Fax</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.fax">
						</div>
					</div>
				</div>
				<br/>
				<div class='row'>	
					<div class='col-md-6'>
						<div class="input-group">
					  		<span class="input-group-addon">Mrcode</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.mrcode">
						</div>
						<br/>
						<div class="input-group">
					  		<span class="input-group-addon">DeliveryCar</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.deliverycar">
						</div>
					</div>
					<div class='col-md-6'>
						<div class="input-group">
					  		<span class="input-group-addon">Credit</span>	  		
					  		<select ng-model="selectedClient.cashcredit" class="form-control">
						      <option value="C">Cash</option>
						      <option value="R">Credit</option>
						    </select>
						</div>
						<br/>
						<div class="input-group">
					  		<span class="input-group-addon">Store</span>
				    		<select class='form-control' ng-model="selectedClient.clientgroup" ng-options="i.id as i.name for i in clientgroups">	
				    			<option value="">None</option>	    			
				    		</select>
						</div>
					</div>
				</div>
				<br/>
				<div class='row'>	
					<div class='col-md-2'>
						Remarks
					</div>
					<div class='col-md-4'>
						<div class="input-group">
					  		<span class="input-group-addon">1.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.remarks1">
						</div>
						<div class="input-group">
					  		<span class="input-group-addon">2.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.remarks2">
						</div>
						<div class="input-group">
					  		<span class="input-group-addon">3.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.remarks3">
						</div>						
					</div>
					<div class='col-md-2'>
						Address
					</div>
					<div class='col-md-4'>
						<div class="input-group">
					  		<span class="input-group-addon">1.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.address1">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">2.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.address2">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">3.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.address3">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">4.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.address4">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">5.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.address5">
						</div>
					</div>
				</div>
				<br/>
				<div class='row'>	
					<div class='col-md-2'>
						Contact
					</div>
					<div class='col-md-4'>
						<div class="input-group">
					  		<span class="input-group-addon">1.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.contact1">
						</div>
						<div class="input-group">
					  		<span class="input-group-addon">2.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.contact2">
						</div>
						<div class="input-group">
					  		<span class="input-group-addon">3.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.contact3">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">4.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.contact4">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">5.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.contact5">
						</div>						
					</div>
					<div class='col-md-2'>
						Tel
					</div>
					<div class='col-md-4'>
						<div class="input-group">
					  		<span class="input-group-addon">1.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.tel1">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">2.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.tel2">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">3.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.tel3">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">4.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.tel4">
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">5.</span>
					  		<input type="text" class="form-control" ng-model="selectedClient.tel5">
						</div>
					</div>
				</div>
				<br/>
				<div class='row'>	
					<div class='col-md-2'>
						Truck
					</div>
					<div class='col-md-4'>
						<div class="input-group">
					  		<span class="input-group-addon">1.</span>	  		
					  		<select class='form-control' ng-model="selectedClient.truck1" ng-options="i.id as i.desc for i in truckroutes">	
				    			<option value="">None</option>	    			
				    		</select>
						</div>
						<div class="input-group">
					  		<span class="input-group-addon">2.</span>
					  		<select class='form-control' ng-model="selectedClient.truck2" ng-options="i.id as i.desc for i in truckroutes">	
				    			<option value="">None</option>	    			
				    		</select>
						</div>
						<div class="input-group">
					  		<span class="input-group-addon">3.</span>
					  		<select class='form-control' ng-model="selectedClient.truck3" ng-options="i.id as i.desc for i in truckroutes">	
				    			<option value="">None</option>	    			
				    		</select>
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">4.</span>
					  		<select class='form-control' ng-model="selectedClient.truck4" ng-options="i.id as i.desc for i in truckroutes">	
				    			<option value="">None</option>	    			
				    		</select>
						</div>						
						<div class="input-group">
					  		<span class="input-group-addon">5.</span>
					  		<select class='form-control' ng-model="selectedClient.truck5" ng-options="i.id as i.desc for i in truckroutes">	
				    			<option value="">None</option>	    			
				    		</select>
						</div>						
					</div>					
				</div>

			</div>
			<div class='panel-footer'>
				<div class="btn-group">		
					<div class="input-group">								
						<button class="btn btn-default" ng-show='mode=="new"' ng-click="save()">Save</button>
						<button class="btn btn-default" ng-hide='mode=="new"' ng-click="update()">Update</button>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>