
<div class="row">
	<div class='col-md-6'>

		<div class="panel panel-default">
			<div class="panel-heading">Client Group
				<div class="btn-group">
					<div class="input-group" style="width:350px;">
						<input class="form-control" ng-model="filterCriteria.name" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">					
				
				<table class="table">
					<thead>
						<tr>							
							<th>Name</th>						
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items" ng-click='selectClientGroup(i);'>
							<td>{{i.name}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class="panel panel-default">
			<div class="panel-heading">Information
				<div class="btn-group">
					<div class="input-group">
						<button class="btn btn-default" ng-click="new()">New</button>
					</div>
				</div>
			</div>
			<div class="panel-body">		
				<div class='row'>
					<div class='col-md-12'>
						<div class="input-group">
					  		<span class="input-group-addon">Name</span>
					  		<input type="text" class="form-control" ng-model="selectedClientGroup.name">
						</div>						
					</div>					
				</div>				
			</div>
			<div class='panel-footer'>
				<div class="btn-group">		
					<div class="input-group">								
						<button class="btn btn-default" ng-show='mode=="new"' ng-click="save()">Save</button>
						<button class="btn btn-default" ng-hide='mode=="new"' ng-click="update()">Update</button>
						<button class="btn btn-default" ng-hide='mode=="new"' ng-click="delete()" style='margin-left:5px;'>Delete</button>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>