
<div class="row">
	<div class='col-md-6'>

		<div class="panel panel-default" ng-controller="adminclientController">
			<div class="panel-heading">Client
				<div class="btn-group">
					<div class="input-group" style="width:350px;float:left;">
						<input class="form-control" ng-model="filterCriteria.client" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					<div class="input-group" style="width:212px">
						<select class='form-control' ng-model="cg" ng-options="i.name for i in clientgroups" ng-change='filterCriteria.clientgroup=cg.id;selectClientGroup(cg.id);filterResult();'>
				    		<option value="">-- Choose Client Group --</option>
				    	</select>
			    	</div>
				</div>
			</div>
			<div class="panel-body">						
				<table class="table">
					<thead>
						<tr>
							<th ng-show='clientgroup =="0"'></th>		
							<th>Code</th>
							<th>Name</th>						
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items">	
							<td ng-show='clientgroup =="0"'>
								<input type='radio' ng-model='radioClient' value='{{i.id}}' ng-click='selectClient(i)'/>
							</td>
							<td ng-click='selectClient(i)'>{{i.code}}</td>
							<td ng-click='selectClient(i)'>{{i.name}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div>
	</div>
	<div class='col-md-6'>
		<div class="panel panel-default">
			<div class="panel-heading">Item Price Edit 
				<!--div class="btn-group">
					<div class="input-group" style="width:350px">
						<input class="form-control" ng-model="filterCriteria.client" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div-->
			</div>
			<div class="panel-body">						
				<div class="gridStyle" ng-grid="gridOptions"></div>			
			</div>
			<div class='panel-footer'>
				<button type="button" ng-click="removeItems()" class="btn btn-default">Remove Items</button>
			</div>
		</div>	
	</div>
</div>
<div class="row">
	<div class='col-md-6' style='text-align: right;line-height:34px;'>
		<span>
			Are you sure to save these prices ?
		</span>
	</div>
	<div class='col-md-6'>
		<button class="btn btn-default" ng-click="save()">Yes</button>
	</div>
</div>