
<div class="row">
	<div class='col-md-12'>
		<div class="panel panel-default">
			<div class="panel-heading">Items
				<div class="btn-group">
					<div class="input-group" style="width:350px;float:left;">
						<input class="form-control" ng-model="filterCriteria.item"/>
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>					
				</div>
			</div>
			<div class="panel-body">			
				<div class="gridStyle" ng-grid="gridOptions" style='height:600px'></div>										
			</div>
			<div class='panel-footer'>
				<div class="row">										
					<div class='col-md-2'>
						<button type="button" ng-click="new()" class="btn btn-default">New Page</button>	
					</div>
					<div class='col-md-2'>
						<button type="button" ng-click="addrow()" class="btn btn-default" ng-show='mode=="new"'>Add Row</button>	
					</div>
					<div class='col-md-2'>
						<button type="button" ng-click="remove()" class="btn btn-default">Remove</button>	
					</div>
					<div class='col-md-2'>
						<button type="button" ng-click="save()" ng-show='mode=="new"' class="btn btn-default">Save</button>	
					</div>
					<div class='col-md-2'>
						<button type="button" ng-click="update()" ng-hide='mode=="new"' class="btn btn-default">Update</button>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<script type="text/ng-template" id="selectunit.html">
	<select ng-cell-input ng-class="'colt' + $index" ng-model="COL_FIELD" ng-options="i.name as i.name for i in units">	    
	</select>
</script>
<script type="text/ng-template" id="selecttag.html">
	<select ng-cell-input ng-class="'colt' + $index" ng-model="COL_FIELD" ng-options="i.name as i.name for i in tags">	    
	</select>
</script>
<script type="text/ng-template" id="selectcountry.html">
	<select ng-cell-input ng-class="'colt' + $index" ng-model="COL_FIELD" ng-options="i.name as i.name for i in countries">	    
	</select>
</script>