<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default" ng-controller="adminitemController">
			<div class="panel-heading">Items
				<div class="btn-group">
					<div class="input-group" style="width:350px">
						<input class="form-control" ng-model="filterCriteria.item" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">			

				<table class="table">
					<thead>
						<tr>
							<th><input type='checkbox' ng-model='AllItemChecked' ng-change='itemcheckedAll(AllItemChecked)' /></th>
							<th>Code</th>
							<th>Desc</th>
							<th>Unit</th>
							<th>Tag</th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items">
							<td>
								<input type='checkbox' ng-model='itemStatus[i.id]' ng-change='itemchecked(i, itemStatus[i.id], 0)' />
							</td>
							<td ng-click='itemchecked(i, itemStatus[i.id], 1)'>{{i.code}}</td><td ng-click='itemchecked(i, itemStatus[i.id], 1)'>{{i.desc}}</td><td>{{i.unit}}</td><td>{{i.tag}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div> 
		<div class="panel panel-default">
			<div class="panel-heading">
				Selected Items				
			</div>
			<div class="panel-body">
				<div class="gridStyle" ng-grid="gridOptions"></div>				
				
			</div>
			<div class='panel-footer'>
				<button type="button" ng-click="removeItems()" class="btn btn-default">Remove Items</button>
			</div>
		</div> 
	</div>	
	<div class='col-md-6'>
		<div class="panel panel-default" ng-controller="adminclientController">
			<div class="panel-heading">Client
				<div class="btn-group">
					<div class="input-group" style="width:350px;float:left;">
						<input class="form-control" ng-model="filterCriteria.client" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					<div class="input-group" style="width:212px">
						<select class='form-control' ng-model="cg" ng-options="i.name for i in clientgroups" ng-change='clearClientCheckedList();selectClientGroup(cg.id);filterResult();'>
				    		<option value="">-- Choose Client Group --</option>
				    	</select>
			    	</div>
				</div>
			</div>
			<div class="panel-body">						
				<table class="table">
					<thead>
						<tr>
							<th><input type='checkbox' ng-model='AllClientChecked' ng-change='clientcheckedAll(AllClientChecked)' /></th>
							<th>Code</th>
							<th>Name</th>						
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items">
							<td>
								<input type='checkbox' ng-model='clientStatus[i.id]' ng-change='clientchecked(i,clientStatus[i.id], 0)'/>
							</td>
							<td ng-click='clientchecked(i,clientStatus[i.id], 1)'>{{i.code}}</td>
							<td ng-click='clientchecked(i,clientStatus[i.id], 1)'>{{i.name}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				Selected Clients				
			</div>
			<div class="panel-body">

				<table ng-table="selectedClientTB" show-filter='true' class="table">					
			        <tr ng-repeat="i in $data">
			        	<td>
			        		<input type='checkbox' ng-model='clientStatus[i.id]' ng-change='clientchecked(i,clientStatus[i.id], 0)'/>
			        	</td>	        	
			            <td data-title="'Code'" filter="{ 'code': 'text' }" ng-click='clientchecked(i,clientStatus[i.id], 1)'>{{i.code}} >
			                {{i.code}}
			            </td>
			            <td data-title="'Name'" filter="{ 'name': 'text' }" ng-click='clientchecked(i,clientStatus[i.id], 1)'>{{i.code}}>
			                {{i.name}}
			            </td>
			            <td data-title="'DeliveryCar'" filter="{ 'deliverycar': 'text' }">
			                {{i.deliverycar}}
			            </td>
			            
			        </tr>			    	
			    </table>
			</div>
		</div> 
	</div>
</div>
<div class="row">
	<div class='col-md-6' style='text-align: right;line-height:34px;'>
		<span>
			Are you sure to add these items above the selected client?
		</span>
	</div>
	<div class='col-md-6'>
		<button class="btn btn-default" ng-click="save()">Yes</button>
	</div>
</div>