
<div class="row">
	
	<div class="col-md-12">				
		<div class="panel panel-default" >
			<div class="panel-heading">Items Sell Information
				<div class="btn-group">
					<div class="input-group" style="float:left;width:350px;margin-right:10px;">						
						<input class="form-control" type='text' ng-model="filterCriteria.code" ng-change='filterResult()'/>
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>				
					<div class="input-group" style="width:350px">						
						<input class="form-control" type='date' ng-model="filterCriteria.date" ng-change='filterResult()'/>
						<div class="input-group-btn">
							<button class="btn btn-info" ng-click='filterResult()'>
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">				

				<table class="table">
					<thead>
						<tr>
							<th>Code</th>
							<th>Desc</th>
							<th>Price</th>
							<th>Total Quantity</th>
							<th>Total Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items">
							<td>{{i.itemcode}}</td><td>{{i.itemdesc}}</td><td>(HK${{i.itemprice}} / {{i.itemunit}})</td><td>{{i.totalqty}}</td><td>{{i.totalprice}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div> 

	</div>	
</div>
<div class="row">
	<div class="col-md-12"></div>	
</div>
