<div class='row'>	

	<div class='col-md-4'>
		<div class="panel panel-default">
			<div class="panel-heading">
				Invoices
				<div class="btn-group">
					<div class="input-group" style="width:350px">
						<input class="form-control" ng-model="filterCriteria.invoiceno" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>			
			</div>			
			<div class="panel-body">

				<table class="table">
					<thead>
						<tr>
							<th>Invoice No</th>
							<th>Truck</th>
							<th>Customer</th>					
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in invoices.items" ng-click="selectInvoice(i)">
							<td>{{i.invoiceno}}</td><td>{{i.truckdesc}}</td><td>{{i.clientname}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="invoices.totalpages" current-page="invoices.currentpage" max-size="15" class="pagination pagination-small" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{invoices.currentpage}} / {{invoices.totalpages}}, {{invoices.totalitems}} Records
			</div>
		</div>
		<div class="panel panel-default"  ng-controller="itemController">
			<div class="panel-heading">Items
				<div class="btn-group">
					<div class="input-group" style="width:350px">
						<input class="form-control" ng-model="filterCriteria.item" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				
				<table class="table" style='margin-bottom:0px;'>
					<thead>
						<tr>
							<th>Code</th>
							<th>Desc</th>
							<th>Price</th>
							<th>Tag</th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items" ng-click="addItem(i)">
							<td>{{i.code}}</td><td>{{i.dsc}}</td><td>(HK ${{i.price}} / {{i.unit}})</td><td>{{i.tag}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small my-pagination" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div> 
	</div>
	<div class="col-md-8">

		<div class="panel panel-default">

			<div id="mini-notification">        		
        		<p>{{Message}}</p>
    		</div>			
			
			<div class="panel-heading">
				<div class='row'>
					<div class='col-md-4'>
						Invoice ID	 :  {{selectedInvoiceNo}}					
						<br>						
						Customer     :  {{invoice.customercode}}  {{invoice.customername}}
					</div>
					<div class='col-md-5'>
						<div class="input-group">
					  		<span class="input-group-addon">Last Updated :</span>
					  		<input type="datetime" class="form-control" ng-model="invoice.remarks.lastupdated" disabled />
						</div>
					</div>
				</div>
				<br/>
				<div class="row">					
					<div class='col-md-4'>
						<div class="input-group">
					  		<span class="input-group-addon">Truck Route &nbsp;&nbsp;&nbsp; :</span>
					  		<select class='form-control' ng-model="invoice.truckid" ng-options="i.id as i.desc for i in trucks">    		
				    		</select>
						</div>												
					</div>
					<div class='col-md-5'>
						<div class="input-group">
					  		<span class="input-group-addon">Issue Date &nbsp;&nbsp;&nbsp; :</span>
					  		<input type="date" class="form-control" ng-model="invoice.remarks.issuedDate">
						</div>
					</div>
					<div class='col-md-2'>
						<span class="btn-group"> 
							<a class="btn btn-default" ng-click='update()'>Update</a>
							<a class="btn btn-default" ng-click='preview()'>Temp</a>
						</span>
					</div>
				</div>			
			</div>			
			<div class="panel-body">
				
				<div class="gridStyle" ng-grid="gridOptions"></div>
				<br/>
				<div class="row">					
					<div class='col-md-3'>
						<button type="button" ng-click="removeItem()" class="btn btn-default">Remove Row</button>	
					</div>
					<div class='col-md-2'>
				  	  	<label class="radio">
							<input type="radio" ng-model='invoice.remarks.cashcredit' value='C'>Cash
						</label>				    
					</div>
					<div class='col-md-2'>						
						<label class="radio">
							<input type="radio" ng-model='invoice.remarks.cashcredit' value='R'>Credit
						</label>				    
					</div>
					<div class='col-md-5'>						
						<div class="input-group">
					  		<span class="input-group-addon">Total Price : </span>
					  		<input type="text" class="form-control" ng-model="invoice.remarks.totalprice" style='height:36px;' disabled />
						</div>
					</div>
				</div>					
			</div>
			<div class="panel-footer">
				<div class="row">									
					<div class="col-md-2">
						Remarks :
						<br/><br/>									
						<input type='radio' ng-model="remarksinfo" value="remarks1"/> 1
						<br/>						
						<input type='radio' ng-model="remarksinfo" value="remarks2"/> 2
						<br/>
						<input type='radio' ng-model="remarksinfo" value="remarks3"/> 3		
					</div>
					<div class="col-md-10">
						<textarea class="form-control" ng-model="tmpRemark" style='height:109px;'/>			
					</div>
				</div>															
			</div>
		</div>

	</div>
</div>
<script type="text/ng-template" id="updateConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title">Please confirm !</h3>
    </div>
    <div class="modal-body">
        {{comment}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">YES</button>
        <button class="btn btn-warning" ng-click="cancel()">NO</button>
    </div>
</script>