
<div class="row" style='margin-top:130px;'>
	<div class='col-md-4'></div>
	<div class="col-md-4">
		<div class="panel panel-default" >
			<div class="panel-heading">
				<div class='row' style='line-height:34px;padding-left:10px;'>		
					<span> SP Invoice System</span>					
				</div>
			</div>
			<div class="panel-body">
				<div class='row' style='line-height:34px;'>
					<div class='col-md-3'>
						<span>User Name : </span>
					</div>
					<div class="col-md-6">
						<input class="form-control" type='text' ng-model="username" placeholder='User Name'/>
					</div>
				</div>
				<br/>
				<div class='row' style='line-height:34px;'>
					<div class='col-md-3'>
						<span>Password : </span>
					</div>
					<div class="col-md-6">
						<input class="form-control" type='password' ng-model="password" placeholder='Password'/>
					</div>
				</div>
			</div>
			<div class='panel-footer' style='text-align:right;'>
				<button class="btn btn-default btn-sm" ng-click="login()">Login</button>
			</div>						
		</div>	
	</div>	
	<div class='col-md-4'></div>
</div>
<div class="row">
	<div class="col-md-12"></div>	
</div>
