
<div class="row">
	
	<div class="col-md-5">
		<div class="panel panel-default" >
			<div class="panel-heading">

				<span style='line-height:34px;float:left;'>Customer</span>				
				<input class="form-control" ng-model="filterCriteria.id" ng-change="fetchResult()" style='width: 300px;float: left;margin-left: 90px;'/>							
				<div class="input-group-btn"> 
					<a class="btn btn-default pull-right" href="#customer">Select</a>
				</div>			
			</div>
			<div class="panel-body" ng-show="selectedClient">				
				<div class='row'>
					<div class='col-md-12'>
						<span ng-show="selectedClient">{{selectedClient.code}} {{selectedClient.name}}</span>
					</div>
				</div>
				<br/>
				<div class="row" style='border:1px solid #cccccc;width:96%;margin-left:2%;padding:1%;'>
					<!--div class='col-md-12'>
						<textarea class="form-control" ng-model="tmpClientExtra" />
					</div-->
					<div class='col-md-4'>Truck Route :</div>
					<div class='col-md-8'>{{selectedTruck.desc}}</div>
					<br/>
					<div class='col-md-4'>Address :</div>
					<div class='col-md-8'>{{tAddress}}</div>
					<br/>
					<div class='col-md-4'>Contact :</div>
					<div class='col-md-8'>{{tContact}}</div>
					<br/>
					<div class='col-md-4'>Email :</div>
					<div class='col-md-8'>{{tMail}}</div>
					<br/>
					<div class='col-md-4'>Tel :</div>
					<div class='col-md-8'>{{tTel}}</div>					
				</div>
				<br/>
				<div class="row">
					<div class='col-md-12 clientextra'>						
						<input type='radio' ng-model="clientextrainfo" value="1"/> 1
						<input type='radio' ng-model="clientextrainfo" value="2"/> 2
						<input type='radio' ng-model="clientextrainfo" value="3"/> 3
						<input type='radio' ng-model="clientextrainfo" value="4"/> 4
						<input type='radio' ng-model="clientextrainfo" value="5"/> 5
					</div>
				</div>
			</div>						
		</div>			
		<div class="panel panel-default"  ng-controller="itemController">
			<div class="panel-heading">Items
				<div class="btn-group">
					<div class="input-group" style="width:350px">
						<input class="form-control" ng-model="filterCriteria.item" ng-change="filterResult()" />
						<div class="input-group-btn">
							<button class="btn btn-info">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="btn-group">
					<span style='line-height:34px;float:left;width:30px;'>Tag</span>
					<div class="input-group" style="width:150px">
						<select class='form-control' ng-model="selTag" ng-options="i.name as i.name for i in tags" ng-change='changedTag()'>	
						</select>		
					</div>
				</div>				
				<div class="btn-group">					
					<button type='button' class='btn btn-default' ng-repeat="i in countries" ng-class='{active: countryStatus[i.id] == true }' ng-click='clickedCountry(i.id)'>
						{{i.name}}
					</button>					
				</div>				

				<table class="table" style='margin-bottom:0px;'>
					<thead>
						<tr>
							<th>Code</th>
							<th>Desc</th>
							<th>Price</th>
							<th>Tag</th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in data.items" ng-click="addItem(i)">
							<td>{{i.code}}</td><td>{{i.dsc}}</td><td>(HK ${{i.price}} / {{i.unit}})</td><td>{{i.tag}}</td>
						</tr>
					</tbody>
				</table>
				<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="9" previous-text="<" next-text=">" class="pagination pagination-small my-pagination" boundary-links="true"
				on-select-page="selectPage(page)"></pagination><br>
				Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
			</div>
		</div> 

	</div>
	<div class="col-md-7">		
		<div class="panel panel-default"  ng-controller="invoiceController" >	
			<div id="mini-notification">
        		<p>{{Message}}</p>
    		</div>    		
    		<div class="panel-heading">    			
				<div class="row" style='line-height:34px;'>
					<div class='col-md-3'>Invoice</div>
					<div class='col-md-6'>
						<div class="input-group">
					  		<span class="input-group-addon">Issue Date :</span>
					  		<input type="date" class="form-control" ng-model="issuedDate">
						</div>
					</div>
					<div class='col-md-3'>
						<span class="btn-group"> 
							<a class="btn btn-default" ng-click='save()'>Save</a>	
						</span>			
					</div>
				</div>					
			</div>
			<div class="panel-body">
				<div class="gridStyle" ng-grid="gridOptions"></div>
				<br/>
				<div class="row">					
					<div class='col-md-3'>
						<button type="button" ng-click="removeUser()" class="btn btn-default">Remove Row</button>	
					</div>
					<div class='col-md-2'>
				  	  	<label class="radio">
							<input type="radio" ng-model='cashcredit' value='C'>Cash
						</label>				    
					</div>
					<div class='col-md-2'>						
						<label class="radio">
							<input type="radio" ng-model='cashcredit' value='R'>Credit
						</label>				    
					</div>
					<div class='col-md-5'>						
						<div class="input-group">
					  		<span class="input-group-addon">Total Price : </span>	
					  		<input type="text" class="form-control" ng-model="totalPrice" style='height:36px;' disabled />
						</div>
					</div>
				</div>							
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-2">Remarks :
						<br/>			
						<input type='radio' ng-model="remarksinfo" value="remarks1"/> 1
						<br/>						
						<input type='radio' ng-model="remarksinfo" value="remarks2"/> 2
						<br/>						
						<input type='radio' ng-model="remarksinfo" value="remarks3"/> 3	
					</div>
					<div class="col-md-10">
						<textarea class="form-control" ng-model="tmpRemark" style='height:180px;'/>			
					</div>
				</div>															
			</div>
		</div>		
			
	</div>
</div>
<div class="row">
	<div class="col-md-12"></div>	
</div>
