	<div class='row' data-ng-init='init()'>
		<div class='col-md-6' style='text-align:right;line-height:34px;font-size:19px;'>
			Issued Date :
		</div>
		<div class='col-md-2'>
			<input class="form-control" type='date' ng-model="invoicePreview.remarks.issuedDate" />
		</div>
	</div>

	<h3>Invoice Number : {{invoiceNumber}}</h3>

	<table>
	<tr><th>Name:&nbsp;&nbsp;</th><td>{{invoicePreview.customername}}</td></tr>
	<tr><th>Contact:&nbsp;&nbsp;</th><td>{{invoicePreview.customercontact}}</td></tr>
	<tr><th>Address:&nbsp;&nbsp;</th><td>{{invoicePreview.customeraddress}}</td></tr>
	<tr><th>Tel:&nbsp;&nbsp;</th><td>{{invoicePreview.customertel}}</td></tr>
	</table>

	<br>

	<div class="gridStyle" ng-grid="gridOptions"></div>
	<br/>
	<div class="row">
		<div class='col-md-2'>
	  	  	<label class="radio">
				<input type="radio" ng-model='invoicePreview.remarks.cashcredit' value='C'>Cash
			</label>				    
		</div>
		<div class='col-md-2'>						
			<label class="radio">
				<input type="radio" ng-model='invoicePreview.remarks.cashcredit' value='R'>Credit
			</label>				    
		</div>	
		<div class='col-md-4' style='text-align:right; line-height:34px;font-size:19px;'>
			Total Price :		
		</div>
		<div class='col-md-4'>
			<input class="form-control" ng-model="invoicePreview.remarks.totalprice" disabled/>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-10'></div>
		<div class='col-md-2'>
			<div class="btn-form" style='margin-top:10px;'>	
				<button type="button" ng-click="removeUser()" class="btn btn-default pull-right">Remove Row</button>
			</div>
		</div>
	</div>
	<br/>

	<div class='row' style='font-size:19px;'>
		<div class='col-md-2'>Remarks : </div>
		<div class='col-md-2'>		
			<span style='text-align:right;line-height:34px;'>1.</span><br/>
			<span style='text-align:right;line-height:34px;'>2.</span><br/>
			<span style='text-align:right;line-height:34px;'>3.</span>	
		</div>
		<div class='col-md-8'>
			<input class="form-control" ng-model="invoicePreview.remarks.remarks1" />
			<input class="form-control" ng-model="invoicePreview.remarks.remarks2" />
			<input class="form-control" ng-model="invoicePreview.remarks.remarks3" />
		</div>
	</div>
