

<h3>Invoice Number is not generated yet.</h3>

<a type="button" onclick="window.print();return false;" class="btn btn-default pull-right">Print</a>

<div class="gridStyle" ng-grid="gridOptions"></div>

<div class="btn-form" style='margin-top:10px;'>	
	<button type="button" ng-click="removeUser()" class="btn btn-default pull-right">Remove Row</button>
</div> 

<table>
<tr><th>Name:&nbsp;&nbsp;</th><td>{{selectedClient.name}}</td></tr>
<tr><th>Contact:&nbsp;&nbsp;</th><td>{{selectedClient.extrainfo.contact1}}</td></tr>
<tr><th>Address:&nbsp;&nbsp;</th><td>{{selectedClient.extrainfo.address1}}</td></tr>
<tr><th>Tel:&nbsp;&nbsp;</th><td>{{selectedClient.extrainfo.tel1}}</td></tr>
</table>
<br>
<table class="table table-bordered table-hover table-condensed">
	<tr style="font-weight: bold">
		<td style="width:40%">Item</td>
		<td style="width:10%">Qty</td>
		<td style="width:10%">Unit</td>
		<td style="width:10%">Price</td>
	</tr>
	<tr ng-repeat="i in items | filter:filterUser">
		<td>
			<span editable-text="i.item" e-form="tableform">
				{{ i.item || 'empty' }}
			</span>
		</td>
		<td>
			<span editable-text="i.qty" e-form="tableform">
				{{ i.qty }}
			</span>
		</td>
		<td>
			<span editable-text="i.unit" e-form="tableform">
				{{ i.unit }}
			</span>
		</td>
		<td>
			<span editable-text="i.price" e-form="tableform">
				{{ i.price }}
			</span>
		</td>
	</tr>
</table>
<br>
<table>
<tr>
<th valign="top">Remarks:&nbsp;&nbsp;&nbsp;</th>
<td valign="top">
{{selectedClient.remarks.remarks1}}<br>
{{selectedClient.remarks.remarks2}}<br>
{{selectedClient.remarks.remarks3}}<br>
</td>
</tr>
</table>