<div class="panel panel-default">
	<div class="panel-heading">
		Truck Route
		<div class="btn-group">
			<div class="input-group" style="width:350px">
				<input class="form-control" ng-model="filterCriteria.client" ng-change="filterResult()" />
				<div class="input-group-btn">
					<button class="btn btn-info">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel-body">

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Description</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in data.items" ng-click="selectTruck(i)">
					<td>{{i.id}}</td><td>{{i.desc}}</td>
				</tr>
			</tbody>
		</table>
		<pagination num-pages="data.totalpages" current-page="data.currentpage" max-size="15" class="pagination pagination-small" boundary-links="true"
		on-select-page="selectPage(page)"></pagination><br>
		Page: {{data.currentpage}} / {{data.totalpages}}, {{data.totalitems}} Records
	</div>
</div>